body {
    background-image: url('livros4.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    margin: 3% 5%;
    padding: 0;
}

header {
    width: 100%;
    height: 10%;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 45%;
}

.logo :hover {
    opacity: 40%;
    transition: background-color 0,5s;
}

nav {
    width: 100%;
    margin-right: 0%;
    margin-left: 0%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-ul {
    margin: 0%;
    padding: 0%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    list-style: none;
    
}

.nav-list :hover {
    opacity: 15%;
    background-color: white;
}

.nav-link {
    width: 100%;
    height: 100%;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: right;
    align-items: center;
}

.nav-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    transition: background-color 0.5s;
}

.inicio {
    width:100%;
    top: 50%;
    display: grid;
    grid-template-columns: 25% 25% 30% ;
    align-items: center;
    justify-content: end;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 2cm;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 2.5em;
}
.inicio h2{
    width: 20%;
}

h3{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 1.5em;
}

.contatoInformacoes {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 1.5em;
    list-style: none;
    padding: 0%;
    margin: 20%;
}

#quemSomos {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 1.5em;
    margin: 20%;
}

#sobre {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 1.5em;
    margin: 20%;
}

.alinhamento{
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
    text-align: center;
}

#seption {
    display: grid;
    flex-direction: row;
    grid-template-columns: 1fr 1fr 1fr ;
}